In [29]:
import pandas as pd
import numpy as np

In [30]:
car=pd.read_csv('quikr_car.csv')

In [31]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [32]:
car.shape

(892, 6)

In [33]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

# Creating backup copy

In [34]:
backup=car.copy()

# Quality

- names are pretty inconsistent
- names have company names attached to it
- some names are spam like 'Maruti Ertiga showroom condition with' and 'Well mentained Tata Sumo'
- company: many of the names are not of any company like 'Used', 'URJENT', and so on.
- year has many non-year values
- year is in object. Change to integer
- Price has Ask for Price
- Price has commas in its prices and is in object
- kms_driven has object values with kms at last.
- It has nan values and two rows have 'Petrol' in them
- fuel_type has nan values

# Cleaning Data

#  1. year has many non-year values

In [35]:
car=car[car['year'].str.isnumeric()]

# 2. year is in object. Change to integer

In [36]:
car['year']=car['year'].astype(int)

# 3. Price has Ask for Price

In [37]:
car=car[car['Price']!='Ask For Price']

# 4. Price has commas in its prices and is in object

In [38]:
car['Price']=car['Price'].str.replace(',','').astype(int)

# 5. kms_driven has object values with kms at last.

In [39]:
car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')

# 6. It has nan values and two rows have 'Petrol' in them

In [40]:
car=car[car['kms_driven'].str.isnumeric()]

In [41]:
car['kms_driven']=car['kms_driven'].astype(int)

# 7. fuel_type has nan values

In [42]:
car=car[~car['fuel_type'].isna()]

In [43]:
car.shape

(816, 6)

# 8. name and company had spammed data...but with the previous cleaning, those rows got removed.

- Company does not need any cleaning now. Changing car names. Keeping only the first three words

In [44]:
car['name']=car['name'].str.split().str.slice(start=0,stop=3).str.join(' ')

# Resetting the index of the final cleaned data

In [45]:
car=car.reset_index(drop=True)

# Cleaned Data

In [46]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [47]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [50]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

# Handled one Outlier here

In [51]:
car=car[car['Price']<6000000].reset_index(drop=True)